In [1]:
import requests
import time
from bs4 import BeautifulSoup as BS
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
url = "http://www.myneta.info/LokSabha2019/index.php?action=summary&subAction=candidates_analyzed&sort=candidate#summary"

In [3]:
r = requests.get(url)

In [4]:
CandidateData = BS(r.text, features="html5lib").find_all('table')[1].find_all('tr')

In [5]:
CandidateData = CandidateData[2:]

In [6]:
name = []
Constituency = []
Party = []
Cases = []
Education = []
Assets = []
Liabilities = []
for ix in range(len(CandidateData)):
    newCan = CandidateData[ix].find_all('td')
    name.append(newCan[1].text)
    Constituency.append(newCan[2].text)
    Party.append(newCan[3].text)
    Cases.append(int(newCan[4].text))
    Education.append(newCan[5].text)
    assts = 0
    lib = 0
    if CandidateData[ix].find_all('td')[6].get_text() != 'Nil':
        assts = newCan[6].get_text().split('~')[0].split()[1]
    if CandidateData[ix].find_all('td')[7].get_text() != 'Nil':
        lib = newCan[7].get_text().split('~')[0].split()[1]
    Assets.append(assts)
    Liabilities.append(lib)

In [7]:
Candidates = {
    'Name' : name,
    'Constituency' : Constituency,
    'Party' : Party,
    'Cases' : Cases,
    'Education' : Education,
    'Assets' : Assets,
    'Liabilities' : Liabilities
}
data = pd.DataFrame(Candidates)

In [8]:
data.to_csv('CandidateData.csv', index=False)

In [9]:
data.head()

,Name,Constituency,Party,Cases,Education,Assets,Liabilities
0,Parmar Vijay,RAJKOT,BSP,4,12th Pass,"5,35,000",0
1,A M Ariff,ALAPPUZHA,CPI(M),2,Graduate Professional,"1,52,68,906","22,20,700"
2,A Narayanaswamy,CHITRADURGA,BJP,0,Graduate,"9,61,97,642",0
3,A Natarajan,COIMBATORE,IND,0,5th Pass,"7,000",0
4,A Pradeep Kumar,KOZHIKODE,CPI(M),1,12th Pass,"1,19,15,342","20,79,872"

In [12]:
for ix in Cases:
    if Cases[ix] > 0 :
        Cases[ix] = 1

In [13]:
PartyCan = {
    'Party' : Party,
    'Cases' : Cases
}
data = pd.DataFrame(PartyCan)

In [14]:
data.head()

    Party  Cases
0     BSP      1
1  CPI(M)      1
2     BJP      0
3     IND      0
4  CPI(M)      1

In [15]:
data.to_csv('PartyAndCriminalCandidates.csv', index=False)